.main {
	width: 100%;
	height: auto;
}

.main_cont {
	width: 100%;
	height: auto;
	padding-top: 6rem;
}

.main_cont h2 {
	color: var(--blue);
}

.cont-flex figure {
	position: relative;
	width: 100%;
	height: auto;
	margin: 2rem 0;
}

.cont-flex figure img {
	max-width: 36rem;
	margin: 0 auto;
}

.main_hero {
	padding-top: 0;
}

.main_hero-cont {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.main_hero figure {
	width: 24rem;
	height: 24rem;
	margin: 0 auto;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.main_hero figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
	filter: invert();
}

.main_hero h1 {
	font-size: 2.4rem;
	font-weight: 700;
}

.main_hero h1 strong {
	font-size: 4.8rem;
	color: var(--blue);
	letter-spacing: -0.3rem;
}

.main_hero h2 {
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 0.2rem;
	color: var(--almostWhite);
}

.main_desc h3 {
	padding-top: 2rem;
	text-align: justify;
}

.ct-link,
.py-link,
.ga-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 32rem;
	height: 4.8rem;
	margin: 0 auto;
	margin-top: 4rem;
	color: var(--almostWhite);
	font-size: 2.4rem;
	line-height: 2.4rem;
	background: linear-gradient(to right, var(--blue), var(--green));
	border-radius: 2.4rem;
}

.main_bio p {
	padding-top: 2rem;
	text-align: justify;
}

.main_skills h3 {
	padding-top: 2rem;
	text-align: justify;
}

.main_skills p {
	padding-top: 2rem;
	text-align: justify;
}

.skills_gloss {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(4, auto);
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	margin-top: 2rem;
}

.main_skills .skills_gloss h3 {
	padding: 0 1rem;
	text-align: left;
	color: var(--blue);
}

.gloss-skl {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.gloss-skl svg,
.gloss-skl img {
	width: 25%;
	max-width: 6rem;
	height: auto;
	margin: 0.4rem 0.8rem;
	color: var(--almostWhite);
}

.gloss-skl img {
	filter: brightness(150%) grayscale(100%);
}

.gloss-skl .skl-img {
	filter: invert(100%);
}

@media (min-width: 480px) {
	.ct-link,
	.py-link,
	.ga-link {
		margin: 0;
		margin-top: 4rem;
	}
}

@media (min-width: 580px) {
	.main_hero-cont {
		height: 42rem;
	}

	.main_hero figure {
		width: 50%;
		height: auto;
		position: absolute;
		top: 2rem;
		right: 0;
	}

	.main_hero figure img {
		aspect-ratio: 1/1;
	}

	.main_desc h3 {
		padding-top: 2rem;
	}
	.skills_gloss h3 {
		padding: 0 1.6rem;
		margin-right: 1.6rem;
	}

	.gloss-skl svg,
	.gloss-skl img {
		margin: 0.8rem 1.6rem;
	}
}

@media (min-width: 768px) {
	.cont-flex {
		display: flex;
		align-items: center;
		gap: 4rem;
	}

	.main_hero-cont {
		height: 64rem;
	}

	.main_hero figure {
		width: 50%;
		top: 4rem;
		right: 2rem;
	}

	.main_hero h1 {
		font-size: 3.2rem;
	}

	.main_hero h1 strong {
		font-size: 6.4rem;
	}

	.main_hero h2 {
		font-size: 3.2rem;
	}

	.main_desc h3 {
		padding-top: 2rem;
	}

	.main_desc h3 {
		padding-top: 3rem;
	}
	.main_bio p {
		padding-top: 3rem;
		text-align: justify;
	}
	.main_skills h3 {
		padding-top: 3rem;
		text-align: justify;
	}
	.skills_gloss h3 {
		padding: 0 2rem 0 1rem;
	}
}

@media (min-width: 1024px) {
	.main_hero figure {
		max-width: 48rem;
		right: 4rem;
	}
}

@media (min-width: 1280px) {
	.main_hero figure {
		right: 8rem;
	}
}
